.header {
    display: flex;
    border-bottom: 0;
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    border-bottom: 1px solid #3d3939;
}

.header h1 {
    text-transform: uppercase;
}

.message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffffa2;
    padding: 10px;
    color: black
}

.won {
    color: #538D4E;
}

.lost {
    color: #8d4e4e;
}