
<div class="keyboard">
    <div class="keyboard-row">
        <ng-container *ngFor="let letter of letters1">
            <button (click)="chooseLetter(letter)" [ngClass]="color(letter)">{{letter}}</button>
        </ng-container>
    </div>
    <div class="keyboard-row">
        <ng-container *ngFor="let letter of letters2">
            <button (click)="chooseLetter(letter)" [ngClass]="color(letter)">{{letter}}</button>
        </ng-container>
    </div>
    <div class="keyboard-row">
        <button (click)="guess()">ENTER</button>
        <ng-container *ngFor="let letter of letters3">
            <button (click)="chooseLetter(letter)" [ngClass]="color(letter)">{{letter}}</button>
        </ng-container>
        <button (click)="backspace()">←</button>
    </div>
</div>