
<div class="keyboard-row">
    <button (click)="chooseLetter('q')" [ngClass]="color('q')">q</button>
    <button (click)="chooseLetter('w')">w</button>
    <button (click)="chooseLetter('e')">e</button>
    <button (click)="chooseLetter('r')">r</button>
    <button (click)="chooseLetter('t')">t</button>
    <button (click)="chooseLetter('y')">y</button>
    <button (click)="chooseLetter('u')">u</button>
    <button (click)="chooseLetter('i')">i</button>
    <button (click)="chooseLetter('o')">o</button>
    <button (click)="chooseLetter('p')">p</button>
</div>
<div class="keyboard-row">
    <button (click)="chooseLetter('a')">a</button>
    <button (click)="chooseLetter('s')">s</button>
    <button (click)="chooseLetter('d')">d</button>
    <button (click)="chooseLetter('f')">f</button>
    <button (click)="chooseLetter('g')">g</button>
    <button (click)="chooseLetter('h')">h</button>
    <button (click)="chooseLetter('j')">j</button>
    <button (click)="chooseLetter('k')">k</button>
    <button (click)="chooseLetter('l')">l</button>
</div>
<div class="keyboard-row">
    <button>ENTER</button>
    <button (click)="chooseLetter('z')">z</button>
    <button (click)="chooseLetter('x')">x</button>
    <button (click)="chooseLetter('c')">c</button>
    <button (click)="chooseLetter('v')">v</button>
    <button (click)="chooseLetter('b')">b</button>
    <button (click)="chooseLetter('n')">n</button>
    <button (click)="chooseLetter('m')">m</button>
    <button>←</button>
</div>