button {
    cursor: pointer;
    background-color: #818384;
    border: none;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10%;
}

.wide-button {
    width: auto;
    padding: 10px;
}

.gray {
    background-color: #3A3A3C;
}

.green {
    background-color: #538D4E;
}

.yellow {
    background-color: #B59F3B;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}