<ul class="guesses">
    <li *ngFor="let guess of guesses">
        <span *ngFor="let letter of guess.letters" class="letter" [class]="letter.color">
            {{letter.letter}}
        </span>
    </li>
    <li>
        <span *ngFor="let letter of active" class="letter">{{letter}}</span>
        <span *ngFor="let _ of activeBlanks" class="letter"></span>
    </li>
    <li *ngFor="let _ of remainingGuesses">
        <span class="letter"></span>
        <span class="letter"></span>
        <span class="letter"></span>
        <span class="letter"></span>
        <span class="letter"></span>
    </li>
</ul>
