ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 30px;
    height: 35px;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 2px #3d3939;
}

.gray {
    box-shadow: none;
    background-color: #75797c;
}

.green {
    box-shadow: none;
    background-color: #5aaa55;
}

.yellow {
    box-shadow: none;
    background-color: #d9c27a;
}