ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

ul li {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 30px;
    height: 35px;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 2px #3d3939;
    font-weight: bold;
}

.gray {
    box-shadow: none;
    background-color: #3A3A3C;
}

.green {
    box-shadow: none;
    background-color: #538D4E;
}

.yellow {
    box-shadow: none;
    background-color: #B59F3B;
}